<%- include("template/cabecera",{titulo:"Dashboard|Admin"}) %>
<%- include("template/navbar",{page:"dashboard",user:nombreUsuario}) %> 

<div class="dashboard-container">
    <%- include("template/sidebar") %> 
    <div class="content">
        Seleccione un mes para mostrar los registros: 
        <select name="selectMes" id="selectMes">
            <option value="0" disabled selected>Seleccione un mes</option>
            <% for(element of data) { %>
                <option value="<%= element.mes %> "><%= element.descripcion %> </option>
            <% } %>
        </select>
        <button type="button" id="btnFiltro">Mostrar</button>
        <table id="tableDataDescuentos">
            <tr>
                <th>Dni</th>
                <th>Nombre</th>
                <th>Descuento del mes</th>
            </tr>
        </table>
        
    </div>
</div>

<%- include("template/footer",{page:"reportesDescuentos"}) %> 