<link rel="stylesheet" href="/css/empleado.css" />
<body>
    
    <a href="/dashboard/mantenimientoEmpleado">Atras</a>
    <div class="detalle-grid-container">
        <% for( e of data) { %>
            <div class="grid-item"><b>Nro DNI:</b> <%= e.dni %> </div>
            <div class="grid-item"><b>Nombre:</b> <%= e.nombre %> </div>
            <div class="grid-item"><b>Apellidos:</b> <%= e.apellidos %> </div>
            <div class="grid-item"><b>Nro Celular:</b> <%= e.celular %> </div>
            <div class="grid-item"><b>Direccion de correo electronico:</b> <%= e.correo %> </div>
            <div class="grid-item"><b>Direccion:</b> <%= e.direccion %> </div>
            <div class="grid-item"><b>Genero:</b> <%= e.genero %> </div>
            <div class="grid-item"><b>Cargo:</b> <%= e.cargo %> </div>
            <div class="grid-item"><b>Horario:</b> <%= e.horario %> </div>
            <div class="grid-item"><b>Contraseña:</b> <%= e.contrasena %> </div>
            <div class="grid-item"><b>Rol:</b> <%= e.rol %> </div>
    
        <% } %> 
    </div>
</body>