<%- include("template/cabecera",{titulo:"Dashboard|Admin"}) %>
<%- include("template/navbar",{page:"dashboard",user:nombreUsuario}) %> 

<div class="dashboard-container">
    <%- include("template/sidebar") %> 
    <div class="content">
        <h1>Gestion de horarios</h1>
        <button id="btn-open-modal">Nuevo</button>
        <table>
            <tr>
                <th>Horario</th>
                <th>Hora inicio</th>
                <th>hora fin</th>
                <th>Accion</th>
            </tr>
            <% for( e of data ) { %>
                <tr>
                    <td><%= e.descripcion %> </td>
                    <td><%= e.hora_inicio %> </td>
                    <td><%= e.hora_fin %> </td>
                    <td id="acciones">
                        <button type="button" class="openModalUpdate">
                            <input type="hidden" name="codigoHorario" id="codigoHorario" value="<%= e.codigo %>">
                            <input type="hidden" name="rowData" id="rowData" value="<%= e.descripcion+"_"+e.hora_inicio+"_"+e.hora_fin %>">
                            <span title="Editar horario"></span><i class="fas fa-pen"></i></span>
                        </button>
                        <button type="button" class="btnDelete">
                            <input type="hidden" name="codigoHorario" id="codigoHorario" value="<%= e.codigo %>">
                            <span title="Eliminar horario"><i class="fas fa-ban"></i></span>
                        </button>
                    </td>
                </tr>
            <% } %>
        </table>
        <div class="modal-background-horario">
            <form class="modal-container-horario" id="formRegisterUpdate" method="post" action="/dashboard/mantenimientoHorario/regOrUpdate">
              <div class="modal-title-horario">
                <span>Nuevo horario</span>
                <button type="button" class="close-modal-horario" id="closeModal">
                  <i class="fas fa-times"></i>
                </button>
              </div>
              <div class="modal-body-horario">
                  <input type="hidden" name="codigo" id="codigo" value="0">
                    <label for="descripcion">
                        Descripcion
                        <input type="text" name="descripcion" id="descripcion" placeholder="Descripcion" autocomplete="off">
                    </label>
                    <label for="horaInicio">
                        Hora inicio
                        <input type="time" name="horaInicio" id="horaInicio" placeholder="Hora de inicio" autocomplete="off">
                    </label>
                    <label for="horaFin">
                        Hora fin
                        <input type="time" name="horaFin" id="horaFin" placeholder="Hora de finalizacion" autocomplete="off">
                    </label>
              </div>
              <div class="modal-footer-horario">
                <button type="button" id="btnCancel">
                  <i class="fas fa-ban"></i>Cancelar
                </button>
                <input type="hidden" value="insertar" id="accion" name="accion">
                <button type="submit"><i class="fas fa-check"></i>Guardar</button>
              </div>
            </form>
          </div>
    </div>
</div>

<%- include("template/footer",{page:"horario"}) %> 